*{
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;

}

.coluna1{
    background-color: white;
}

.coluna2{
    background-color:#02abc0;
    display: flex;
}

.coluna3{
    background-color: white;

}